*{
	margin:0;
}



header{background:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(PBG.jpeg);
min-height:100vh;
background-repeat: no-repeat;
background-size: cover;

}

a{
	position: absolute;
 background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration:none;
    font-size: 100%;
    font-family: sans-serif;
    border-radius:5px;
    color:black;
    background-color: lightgrey;
    font-weight: bold;
    text-align: center;
  
right:20%;
left:20%;
top:80%;
}
div{
text-align: center;
	padding: 20px;
	position: absolute;
	top:10%;
	right:20%;
	left:20%;
	font-size:125%; 
	border:solid 2px transparent;
	background: #d8e198;
	border-radius: 10px;
}
a:hover{
	background:#61ecd2;
	transition: 0.5s;
}
@viewport{
	zoom:1.0;
	width:extend-to-zoom;
}
@-ms-viewport{
	width:extend-to-zoom;
	zoom:1.0;
}
